body {
    background-color: darkslategray;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.wraper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav {
    background-color: #333;
    border-radius: 20px;
}

nav a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a:hover {
    background-color: #555;
    border-radius: 20px;
}

input {
    display: block;
    margin-bottom: 10px;
}

label {
    color: white;
}

@media screen and (min-width: 768px) {
    nav ul {
        display: flex;
        justify-content: center;
    }
    nav li {
        flex: 1 1 0;
        border-bottom: 1px solid white;
        border-radius: 20px;
    }
}

.error {
    border-color: red;
}

.about {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    position: relative;
    top: 300px;
    display: inline-block;
}

.about-contact {
    display: inline-block;
    position: relative;
    top: 350px;
    left: 30px;
}

.modal{

}
#modalholder{
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 20;
    }